parameters:
    level: 5
    paths:
        - src
        - tests
        - app
        - config
        - database
        - routes
    excludePaths:
        - vendor
        - cache
    checkMissingIterableValueType: false